<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>WDInstagram</title>
</head>
<body>
  <a href="/"><h1 id="title">wdinstagram</h1></a>
  <%= yield %>
</body>
</html>
