* {
  box-sizing: border-box;
}

body {
  background-color: lemonchiffon;
  text-align: center;
}

img.entry_photo {
  width: 400px;
}

h3 {
  margin: 50px auto 0 auto;
}

h4 {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.title:hover {
  background-color: white;
}

.user_action {
  font-size: 2em;
  margin-bottom: 30px;
}

input[type=text] {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
}

input[type=submit] {
  width: 100px;
}
