* {
  box-sizing: border-box;
}

body {
  background-color: lemonchiffon;
  text-align: center;
}

img.entry_photo {
  width: 400px;
}

h3 {
  margin: 50px auto 0 auto;
}

h4 {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.user_action {
  font-size: 2em;
  margin-bottom: 30px;
}

input[type=text] {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
}

input[type=submit] {
  width: 100px;
}

#delete {
  background-color: red;
  margin: 30px auto;
  border-radius: 10px;
  font-size: 1em;
  width: 150px
}

.entry_photo {
  border: 10px solid mediumaquamarine;
  border-right: 10px solid rgb(87, 255, 154);
  border-bottom: 10px solid rgb(87, 255, 154);

}
#commenter_area {
  margin: 15px auto;
}
.caption {
  margin-bottom: 35px;
}
