<h2>Add a Photo</h2>
<form method="post" action="/new">
  <label>Author:</label>
  <input type="text" name="entry[author]">
  <label>Photo URL:</label>
  <input type="text" name="entry[photo_url]">
  <label>Date Taken:</label>
  <input type="text" name="entry[date_taken]">
  <input type="submit">
</form>
